# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
.env
.venv
env/
venv/
.pytest_cache/
.mypy_cache/
.tox/
.coverage
.cache
.DS_Store

# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.idea/
.vscode/
build/
ios/Pods/
.gradle/
.android/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
pubspec.lock
